[Unit]
Description=Apache Spark Worker
After=network.target

[Service]
Environment="SCRIPT_ARGS=%I"
PrivateTmp=true
Type=simple
PIDFile=/tmp/spark-master.pid
ExecStart=/bin/sh -c "SPARK_NO_DAEMONIZE=1 /cm/shared/apps/spark/current/sbin/start-slave.sh spark://$SCRIPT_ARGS"

[Install]
WantedBy=multi-user.target

